:root {
    --corPrincipal: #000000;
    --corSecundária: #bbb5b5b9;
}

.main{
display: flex;
width: 100%;
height: 100%;
background-color: var(--corPrincipal);

}

.logo {
width: 2rem;
height: 2rem;


}

.texto_digitado{
width: 50%;
margin: 3rem 0 0 0;
}

.text_input{
    width: 98%;
    height: 500px;
}

.area_alerta{
color: var(--corSecundária);
font-size: 1.2rem;
display: flex;
align-items: center;
gap: 5px;
}

.icone_alerta{
    width: 15px;
}

.botoes{
    display:flex;
    margin: 2% 0 0 0;
    justify-content: center;
    gap: 5px;
    
}

.imagem {
    border-style:outset;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 500px;
    align-items: center;
    justify-content: start;
    margin: 0px 0px 0px 50px;

}

.img-murphy{    
    border-radius: 25px;
    width: 100%;
    height: 70%;
}

.imagem h2{
   width: 80%;   
   font-size: 1.4rem;   
   color: var(--corSecundária);
}


.div_resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}


.area_resultado{
    width: 30%;
    margin: 3rem 0 0 0;
    
    
    

}

.resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 470px;
    border-style: outset;
    margin: 0px 0px 0px 50px;
    
    
    
    /* Ao clicar em criptografar, definir essas configuraçõas para o .resultado
    justify-content:flex-start;
    align-items:first baseline;
    */
}

.botao_copiar{
    display:flex;
    justify-content: end;
    margin: 7% 0 7% 0;
    
    
}


@media (max-width: 600px) {
    .main{
        display: flex;
        flex-direction: column;
    }

    .texto_digitado{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .imagem {
        display: flex;
        flex-direction: column;
        width: 98%;
        height: 500px;
        align-items: cente;
        background-color: red;
        margin:0px;
    
    }
    
    .area_resultado{
        width: 100%;
      

    }

    .resultado{

    width: 98%;
    margin: 0px;
    }

    .div_resultado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

  





}