*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  
}
body{
    font-size: 100%;
    list-style-type: none;
   
}


:root {
    --corPrincipal: #000000;
    --corSecundária: #bbb5b5b9;
    --corTextos: #ffffff;
   
    
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--corPrincipal);
    
}

.topo p, audio{
    color: var(--corTextos);
}

.audio_topo{
    display: flex;
    justify-content: end;
    align-items: center;

}
.main{
display: flex;
width: 100%;
height: 100%;
background-color: var(--corPrincipal);
background-image: url(./assets/back.jpg);




}

.logo {
width: 2rem;
height: 2rem;


}

.texto_digitado{
width: 50%;
margin: 4% 0 0 0;

}

.text_input{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    width: 95%;
    height: 500px;
    margin: 0 0 0 10px;
    color: var(--corTextos);
}

.area_alerta{
color: var(--corTextos);
font-size: 1.2rem;
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}

.icone_alerta{
    width: 15px;
}

.botoes{
    display:flex;
    margin: 2% 0px 0px 0px;
    justify-content: center;
    gap: 10px;
    
}

.botoes_resultado{
    display:flex;
    margin: 2% 0px 0px 0px;
    justify-content: center;
    gap: 10px;
}

.botao_criptografar, .botao_descriptografar, .botao_copiar, .botao_limpar {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corSecundária);
    width: 10rem;
    height: 2rem;
    border-radius: 30px;
    
    
}


.botao_criptografar:hover, .botao_descriptografar:hover, .botao_copiar:hover, .botao_limpar:hover {
    transform:scale(1.1);
    transition-duration: 1s;
    background-color: var(--corTextos);
    box-shadow: 0 12px 16px 0 rgba(255, 253, 253, 0.24),0 17px 50px 0 rgba(250, 249, 249, 0.19);
}

.imagem {
    border-style:outset;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px 0px 50px;
    background-color: #ffffffa4;

}

.img-tema{    
    border-radius: 20%;
    width: 100%;
    height: 70%;
    
}

.imagem h2{
   width: 80%;   
   font-size: 1.4rem;   
   color: var(--corPrincipal)
   
}


.div_resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
   
    
}


.area_resultado{
    width: 30%;
    margin: 3rem 0 0 0;
    
    
    
    
    

}

.resultado{
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 470px;
    border-style: outset;
    margin: 0px 0px 0px 50px;
    
    
    
    
    /* Ao clicar em criptografar, definir essas configuraçõas para o .resultado
    justify-content:flex-start;
    align-items:first baseline;
    */
}

.botao_copiar, .botao_limpar{
    display:flex;
    justify-content: end;
    margin: 8% 0 8% 0;
    
    
}

.audio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    background-color: var(--corPrincipal);
    
    
}

.audio p, audio{
    margin: 0 50px;
    color:var(--corTextos)
    
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--corPrincipal);
    
}

.rodape p{
    font-size: 2rem;    
    color: var(--corTextos);
    
    
}

@media (max-width: 800px) {
    .main{
        display: flex;
        flex-direction: column;
    }

    .texto_digitado{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .imagem {
        display: flex;
        flex-direction: column;
        width: 98%;
        height: 500px;
        align-items: center;
        background-color: var(--corPrincipal);
        margin: 0px;
    
    }

    .imagem h2{
        width: 80%;   
        font-size: 1.4rem;   
        color: var(--corTextos)
        
        
     }
    
    .area_resultado{
        width: 100%;
        
      

    }

    .resultado{
    width: 98%;
    margin: 0px;
    }

    .div_resultado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        

    }

    .topo p, audio{
        color: var(--corTextos);
    }
    
    .audio_topo{
        display: flex;
        flex-direction: column-reverse;
        justify-content: end;
        align-items: center;
        gap: 10px;
    }


    .botao_criptografar:hover, .botao_descriptografar:hover, .botao_copiar:hover, .botao_limpar:hover {
        transform:scale(1.1);
        transition-duration: 1s;
        background-color: var(--corTextos);
        box-shadow: 0 12px 16px 0 rgba(255, 253, 253, 0.24),0 17px 50px 0 rgba(250, 249, 249, 0.19);
    }


}