:root {
    --corPrincipal: #000000;
    --corSecundária: #bbb5b5b9;
}

.main{
display: flex;
width: 100%;
height: 800px;
background-color: var(--corPrincipal);

}

.logo {
width: 2rem;
height: 2rem;


}

.texto_digitado{
width: 50%;
margin: 3rem 0 0 0;
}

.text_input{
    width: 98%;
    height: 200px;
}

.area_alerta{
color: var(--corSecundária);
font-size: 1.2rem;
display: flex;
align-items: center;
gap: 5px;
}

.icone_alerta{
    width: 15px;
}

.botoes{
    display:flex;
    margin: 2% 0 0 0;
    justify-content: center;
    gap: 5px;
    
}

.div_resultado{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
    
    
    
}

.area_resultado{
    width: 50%;
    margin: 3rem 0 0 0;
    
    
    

}

.resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 200px;
    border-style: outset;
    
    
    /* Ao clicar em criptografar, definir essas configuraçõas para o .resultado
    justify-content:flex-start;
    align-items:first baseline;
    */
}

.botao_copiar{
    display:flex;
    justify-content: end;
    margin: 7% 0 0 0;
    
    
}


@media (max-width: 400px) {
    .main{
        display: flex;
        flex-direction: column;
    }

    .texto_digitado{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .area_resultado{
        width: 100%;
      

    }

    .resultado{

    width: 98%;
    }

    .div_resultado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

  





}